/* HEADER STYLES */
header {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

header a {
    color: white;
}

/*Quiz Styles */
.quiz-container {
    margin:100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: darkblue dotted;
    padding: 100px;
}

#start-quiz h2 {
    font-size: 60px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    margin: auto;
}

#start-quiz p {
    font-size: 20px;
    text-align: center;
}

.btn {
    border-radius: 8px;
    padding: 15px 32px;
    color: white;
    background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);
    margin: 20px 0;
}

#start-button {
    background-image: linear-gradient(to left, violet, indigo, blue, green, orange, red);
    font-size: 20px;
}

#question {
    font-size: 25px;
}

#high-scores {
    flex-direction:column;
}

#high-scores h2 {
    font-size: 40px;
}